/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 janv. 2022, 22:50:49
    Author     : OTHMANE
*/

.form{
    background-color: #0005;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
}

.form>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form .line{
    width: 100%;
    height: 2px;
    background-color: #fff9;
}

.form>div input, .form select{
    padding: 5px 10px;
    background-color: #fff6;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    transition: .3s;
}

.form>div input:focus{
    background-color: #0004;
    outline: 3px #fff6 solid !important;
}
.form select option{
    color: #000;
}
.form>input, .form button{
    background-color: #fff2;
    color: #fff;
    outline: 0;
    border: 1px solid #fff9;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    margin: 5px 0;
    transition: .3s;
}
.form>input:hover, .form button:hover{
    background-color: #0004;
}
.table{
    color: #fff;
}


.table a.sup{
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.table a.mod{
    background-color: #00f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    
}



